<h1>{{ section.settings.heading }}</h1>


{% schema %}
  {
    "name": "Gallery slider",
    "tag": "section",
    "class": "gallery",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Headig"
      }
    ],
    "presets": [
        {
          "name": "Gallery slider"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}